In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data=pd.read_csv(r"E:\AlmaBetter\2. Machine Learning\Projects\Machine Learning Projects\1. Regression Projects\Salary_Data.csv")

In [5]:
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [21]:
x=data['YearsExperience'].values.reshape(-1,1)
y=data['Salary'].values.reshape(-1,1)

In [23]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
model=LinearRegression()

In [37]:
model.fit(x_train,y_train)
model.predict(x_test)

array([[107887.74616419],
       [ 60493.84734384],
       [116418.64795185],
       [110731.38009341],
       [ 92721.69854167],
       [ 82295.0408012 ]])

In [38]:
model.score(x_train,y_train)

0.9568807217701099

In [40]:
model.score(x_test,y_test)

0.8931638942771537